<!DOCTYPE html>
<html ng-app="tarefas">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

</head>

<script>

    angular
        .module('tarefas', [])
        .controller('addTarefa', ['$scope', function ($tarefa) {

            $tarefa.Tarefas = [];

            $tarefa.addTarefa = function () {
                $tarefa.Tarefas.push({'tarefas': $tarefa.newTarefa});
                $tarefa.newTarefa = '';
        };

    }])

</script>

<body ng-controller="addTarefa">


    <div>
    <h1>Adicionar tarefa</h1>

    <form name="skillsFrm" ng-submit="addSkill()">

        <input type="text"  ng-model="newTarefa"/>

        <input type="submit" value="Adicionar tarefa" ng-click="addTarefa()">
    </form>

    <ul>
        <li ng-repeat="tarefa in Tarefas">

            <span>{{tarefa.tarefas}}</span>
        </li>
    </ul>
    </div>


</body>
</html>

